<mat-toolbar color="primary">
  <span>Doodle</span>
  <button mat-button [matMenuTriggerFor]="layers" class="menu">Layers</button>
  <mat-menu #layers="matMenu">
    <button mat-menu-item>
      <span>Crimes</span>
      <mat-slider min="0" max="100" step="1" (input)="map.layers['crimes'].opacity=$event.value"></mat-slider>
    </button>
  </mat-menu>
  <span class=" fill-remaining-space"></span>
  <span class="zoopla-badge">
    <a href="https://www.zoopla.co.uk/" rel="nofollow" target="_blank">
      <img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="150" height="73"
        title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0">
    </a>
  </span>
  <span>
    <a href="https://github.com/srfrnk/doodle" target="_blank"><img src="./assets/github.png" /></a></span>
</mat-toolbar>
<app-map #map></app-map>
