.fill-remaining-space {
  flex: 1 1 auto;
}

.menu {
  text-decoration: underline;
}

.nestoria-badge {
  transform: scale(0.7);
}

.layer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
