<mat-toolbar color="primary">
  <span>Doodle</span>
  <button mat-button [matMenuTriggerFor]="layers" class="menu">Layers</button>
  <mat-menu #layers="matMenu">
    <button mat-menu-item>
      <span>Crimes</span>
      <mat-slider min="0" max="100" step="1" [(ngModel)]="map.crimesOpacity" (input)="map.crimesOpacity=$event.value">
      </mat-slider>
    </button>
  </mat-menu>
  <span class=" fill-remaining-space"></span>
  <span><a href="https://github.com/srfrnk/doodle"><img src="./assets/github.png" /></a></span>
</mat-toolbar>
<app-map #map></app-map>
